@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

:root{
	--white-colour:#fff;
	--black-colour:#000;

    --bg-colour:#0f1932;
}

*{
    box-sizing:border-box;
    padding:0;
    margin:0;
}

html{
    scroll-behavior:smooth;
}

body{
    font-family:'Poppins', sans-serif;
    background-color: var(--bg-colour);
    color:var(--white-colour);
    overflow-x:hidden;
}

a:hover{
	color:rgb(239, 68, 68);
}

@media (max-width:768px)
{
    .container{
        max-width:680px;
    }
}

.hidden-el{ /*Actual hidden-el*/
    opacity:0;
    filter:blur(5px);
    transform:translateX(100%);
    transition:all 1s;
}

.hidden-el{ /* Actually Show but i don't know how to make this work in vue :) */
    opacity:1;
    filter:blur(0);
    transform:translateX(0);
}