@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root{
	--white-colour:#fff;
	--black-colour:#000;
    --blue:#97afd5;
    --dark-blue:#7fa3cdff;
    --other:hsl(212.5, 55.7%, 46.1%);

    --bg-colour:hsl(222.86 53.85% 12.75%);
}

*,
*::before,
*::after{
    box-sizing:border-box;
    padding:0;
    margin:0;
    transition: transform .3s cubic-bezier(0.4, 0, 0 .2, 1),
                color 0.3s ease;
}

html{
    scroll-behavior:smooth;
}

body{
    font-family:'Poppins', sans-serif;
    background-color: var(--bg-colour);
    color:var(--white-colour);
    overflow-x:hidden;
}

a:hover{
	color:rgb(239, 68, 68);
}

@media (max-width:768px)
{
    .container{
        max-width:680px;
    }
}

.hidden-el{
    transition:all 1s;
}

.white{
    color:var(--white-colour)
}

.blue{
    color:var(--blue);
}

.dark-blue{
    color:var(--dark-blue);
}

.other{
    color:var(--other);
}

